@font-face {
	font-family: “Pudelinka”;
	src: url(”Fonts/pudelinka.ttf” ) format('truetype’);
	font-weight: normal;
	font-style: normal;
/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
